/* Reset básico */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}
 
/* Header */
header {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
 
header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
 
header nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
 
/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

## aaaaaaa